body {
  background: #ceffe9;
  color: #605987;
  font-family: "Lexend", sans-serif;
}
.App-header {
  margin: 20px auto;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}
.Dictionary section {
  background: #effaf5;
  padding: 20px;
  box-shadow: 0 8px 10px rgb(0 0 0 / 8%);
  border-radius: 5px;
  margin: 20px 0;
}
.Dictionary .search-bar {
  width: 25%;
  border: 1px solid #605987;
  border-radius: 4px;
  padding: 5px 10px;
}
.Dictionary .button {
  margin-left: 10px;
  padding: 6px 11px;
}
.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}
.Phonetic {
  height: 40px;
}
.Phonetic a {
  font-size: 12px;
  color: #917dc1;
  text-decoration: none;
  border: 1px solid #917dc1;
  border-radius: 25px;
  padding: 5px 5px;
}
.Phonetic a:hover {
  background: #917dc1;
  color: white;
  transition: all 120ms ease-in-out;
}
.Phonetic .text {
  margin-left: 10px;
  opacity: 75%;
  font-weight: bold;
}
.Results {
  padding: 30px auto;
}
.Results h2 {
  margin: 20px auto;
  font-size: 36px;
  text-transform: capitalize;
  color: #917dc1;
  font-weight: bold;
}
.Synonyms ul {
  padding: 0;
}
.Synonyms li {
  font-size: 15px;
  opacity: 75%;
  list-style: none;
  display: inline-block;
  padding-right: 7px;
}
.Meaning h4 {
  opacity: 80%;
  font-weight: bold;
}
.Meaning .definition {
  color: #4d476b;
}
.Meaning .example {
  font-size: 15px;
  opacity: 75%;
  margin: 10px 0;
}
